<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <a class="navbar-brand" href="/">SECAD.POINT</a>
    <div>
    <a class="navbar-brand" href="/logout">LOGOUT</a>
</div>
</nav>