<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <a class="navbar-brand" href="/">SECAD.POINT</a>
    <div>
    <a class="navbar-brand" href="/admin/main">USUÁRIOS CADASTRADOS</a> 
    <a class="navbar-brand" href="/admin/schedules">HORÁRIOS</a>
    <a class="navbar-brand" href="/admin/create/new">CRIAR USUÁRIOS</a>
    <a class="navbar-brand" href="/admin/request">SOLICITAÇÃO</a> 
    <a class="navbar-brand" href="/logout">LOGOUT</a>
</div>
</nav>