body {
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}



::-webkit-scrollbar {
    width: 12px;
}


.image-upload-wrapper{
    display: flex;
    flex-direction: column;
    position: relative; 
    display: inline-block;
}

.image-upload-wrapper img {
    min-width: 200px;
    /* Largura mínima */
    min-height: 200px;
    /* Altura mínima */
    width: 100%;
    /* Ajusta a largura para 100% do contêiner */
    height: auto;
    /* Mantém a proporção da altura */
    object-fit: cover;
    /* Faz a imagem cobrir o contêiner */
}


::-webkit-scrollbar-thumb {
    background-color: #333;
    border: 3px solid white;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background: #222;
}



#form-login {
    padding: 1em;
    background-color: #222;
    width: 40%;
    border-radius: 20px;
    border: 4px solid #fff;
    margin: 20px 0px;
}


#form-login>h1 {
    color: #fff;
    font-weight: 300;
    margin: 10px 0px;
}

#form-login>label {
    margin: 10px 0px;
    display: block;
    color: #fff;
}

#form-login>input {
    display: block;
    padding: 0.8em;
    width: 100%;
}

#form-login>button {
    width: 100%;
    padding: 0.6em;
    margin: 20px 0px;
    background-color: #222;
    border: 2px solid #fff;
    color: #fff;
}

#form-login>button:hover {
    transition: 1s ease-in-out;
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
}

.description {
    display: flex;
    align-items: center;
    width: 1050px;
    justify-content: space-between;
    padding-right: 10px;
    overflow: hidden;
}



@media (max-width: 600px) {
    .description {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        padding-right: 10px;
        overflow: hidden;
    }

    .description > h1, h3,h4{
        font-size: 16px;
    }


    .card-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .response{
        overflow-x: scroll;
    }
    
    .table-description{
        font-size: 8px;
    }

    .table-information{
  font-size: 8px;
    }

    #button-action{
        font-size: 10px;
        width: 100px;
    }

    .container-action{
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

  }