<%- include('../partials/header.ejs') %>
<%- include('../partials/navbarAdm.ejs') %>

<body>
    <div class="container">
        <hr>
        <div class="card">
            <div class="card-header">
                <h2>JUSTIFICATIVA NEGADA</h2>
            </div>
            <div class="card-body">
                  <%-justifydenied%>      
            </div>

        </div>
    </div>
</body>
<%- include('../partials/footer.ejs') %>
