<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>

<body>
    <div class="container">
        <hr>
        <div class="card">
            <div class="card-header" style="display: flex; flex-direction: column; align-items: center;">
                <img src="/img/logo.png" alt="" width="40%" height="40%">
            </div>
            <div class="card-body">
                <% if (typeof message !== 'undefined') { %>
                    <div class="alert alert-info"><%= message %></div>
                <% } %>
                <form action="/reset-password" method="post">
                    <label>CPF/Email ou Login:</label>
                    <input style="margin: 10px 0px;" class="form-control" type="text" name="identifier" placeholder="CPF/Email ou Login" required>
                    <br>
                    <div style="display: flex; gap: 20px;">
                   <button style="width: 50%;" type="submit" class="btn btn-primary">Solicitar Redefinição de Senha</button> 
                   <a href="/" style="width: 50%;" class="btn btn-primary">Voltar</a>
                </div>
                </form>
            </div>
        </div>
    </div>
</body>

<%- include('../partials/footer.ejs') %>
